.relative-pos{
    background-color: aqua;
    position: relative;
    margin: 10px;
    left: 50px;
    top: 50px;
    z-index: 2;
    
}
.relative-pos2{
    background-color: magenta;
    position: relative;
    z-index: 1;
}
.div-pos{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 1;
}
.div-pos{
    margin: 500px;
    border: 2px solid goldenrod;
    height: 100px;
    width: 200px;
}
.abs-pos{
    position: absolute;
    left: 50px;
    top: 50px;
    background-color: chartreuse;
}
.fixed-pos{
    position: fixed;
    left: 50px;
}